<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body class="bg-light">
        <div class="container mt-5">
            <h2 class="text-center">Iniciar Sesión</h2>
            <form action="/validar" method="POST">
                <input type="text" name="usuario" placeholder="Usuario" class="form-control mb-2">
                <input type="password" name="password" placeholder="Contraseña" class="form-control mb-2">
                <button class="btn btn-success">Entrar</button>
            </form>
        </div>
    </body>
</html>